main
{
    width: 98vw;
    height: 97vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Comfortaa', cursive;
}

form
{
    width: 600px;
    height: 220px;
    padding: 20px;

    background-color: rgb(245, 244, 244);
    box-shadow: 8px 8px 10px rgb(225, 209, 241);
    border-radius: 5px;

    font-family: 'Comfortaa', cursive;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.barraButtonPesquisa
{
    width: 90%;
    height: 20%;
}

h1
{
    color: rgb(54, 28, 80);
    font-size: 40px;
}

h1:hover
{
    font-size: 42px;
    text-shadow: 1px 1px 8px rgb(170, 103, 236);
    transition: 0.5s;
}

input
{
    height:70%;
    width:90%;

    font-family: 'Comfortaa', cursive;
    font-size:13px;

    background-color:transparent;
    padding-left:5px;

    border-radius:10px;
    border: 1px rgb(185, 162, 207);
    border-style:solid;
    outline: none;
}

input:hover
{
    box-shadow: 5px 5px 10px rgb(225, 209, 241);
    
    transition: 0.5s;
}

button
{
    font-family: 'Comfortaa', cursive;
    color: rgb(54, 28, 80);

    height: 70%;
    width: 7%;

    background-color:transparent;
    border-style:none;
}

button:hover
{
    font-size: 20px;
    transition: 1s;
    cursor: pointer;
}
